Practicas/*.vscode/*
Practicas/practica2/build/*
Practicas/practica2/minisat-master/build/*
Practicas/*/.nfs*
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix